@font-face {
    font-family: "YouSheBiaoTiHei";
    src: url("https://swordcodepractice.github.io/backend-framework-website/YouSheBiaoTiHei-2.ttf");
}

@font-face {
    font-family: "AlibabaPuHuiTi-2-75-SemiBold";
    src: url("https://swordcodepractice.github.io/backend-framework-website/AlibabaPuHuiTi-2-75-SemiBold.ttf");
}

.index {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.header-block {
    width: 100%;
    height: 470px;
    background: url("https://yinzhuoei-static.oss-cn-beijing.aliyuncs.com/typecho/2022/03/header-bg.jpg") no-repeat bottom / 100% 70vh;
    overflow: hidden;
}

.header-block .title {
    font-family: "YouSheBiaoTiHei";
    color: #fff;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 150px;
    margin-top: 50px;
}

.header-block .desc {
    font-family: "AlibabaPuHuiTi-2-75-SemiBold";
    color: #fff;
    font-size: 1.4vw;
    text-align: center;
    user-select: none;
}

.header-block .buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header-block .buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 41px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s;
}

.header-block .buttons .button:hover {
    opacity: 0.7;
}

.black {
    background-color: black;
    border: 1px solid white;
    color: #fff;
}

.black .icon {
    margin-right: 10px;
}

.white {
    background-color: white;
    border: 1px solid black;
    margin-left: 20px;
}


.function-block{
    width: 100%;
    overflow: hidden;
    margin-top: 2vw;
}

.function-block .title{
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 1.2vw;
}


.function-block .desc{
    opacity: .6;
    font-size: 0.6vw;
    text-align: center;
    margin-top: 0.5vw;
}

.function-block-black{
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 2vw 0;
}


.video{
    text-align: center;
}

video{
    width: 70%;
    height: 700px;
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4vh;
    background: black;
    overflow: hidden;
    color: #fff;
}